
<NavLink href="@Route">
    <div class="flex w-full p-2 rounded-xl mt-2 pl-4 @DivClass">
        <img src="@DefaultIconPath" class="@DefaultIconClass mr-2" alt="">
        <img src="@DarkIconPath" class="mr-2 @BlackIconClass hover-icon" alt="">
        <span class="font-semibold">@Title</span>
    </div>
</NavLink>