<div class="m-6">
    <RouteComponent Item="General" Resource="Store"/>
</div>


<div class="grid grid-cols-5 w-350 gap-6 mb-6">
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
    <ProductComponent ProductImage="icons/camp.jpg" ProductPrice="@((decimal)50)" ProductTitle="Camisa"/>
</div>

